<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dexter.configs" type="Mst.Dexter.Configuraton.DxExternalConfigurationSectionHandler, Mst.Dexter"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
  </appSettings>
  <dexter.configs writeEventLog="1" writeErrorLog="1">
    <dexter>
      <add name="sql" typename="System.Data.SqlClient.SqlConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="Sql"/>

      <add name="oledb" typename="System.Data.OleDb.OleDbConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="OleDb"/>

      <add name="odbc" typename="System.Data.Odbc.OdbcConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="Odbc"/>

      <add name="mysql-6_8_3" typename="MySql.Data.MySqlClient.MySqlConnection" namespace="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" dialect="MySql"/>

      <add name="oracle_managed" typename="Oracle.ManagedDataAccess.Client.OracleConnection" namespace="Oracle.ManagedDataAccess, Version=4.112.3.50, Culture=neutral, PublicKeyToken=89b483f429c47342" dialect="Oracle"/>

      <add name="npgsql" typename="Npgsql.NpgsqlConnection" namespace="Npgsql, Version=2.0.14.3, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" dialect="Npgsql"/>

      <add name="db2" typename="IBM.Data.DB2.DB2Connection" namespace="IBM.Data.DB2, Version=9.7.4.4, Culture=neutral, PublicKeyToken=7c307b91aa13d208" dialect="DB2"/>

      <!--<add name="oracle" 
           typename="Oracle.DataAccess.Client.OracleConnection" 
           namespace="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" 
           dialect="Oracle"/>-->

    </dexter>
  </dexter.configs>
</configuration>
