<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mst.DexterCfg.dll" version="1.3.0" targetFramework="net451" />
  <package id="SimpleFileLogging.dll" version="2.4.0" targetFramework="net45" />
  <package id="SimpleInfra.Common.Response.dll" version="1.3.0" targetFramework="net45" />
  <package id="SimpleInfra.Mapping" version="2.3.0" targetFramework="net45" />
  <package id="SimpleInfra.Validation" version="1.5.0" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net45" />
</packages>