<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dexter.configs" type="Mst.Dexter.Configuraton.DxExternalConfigurationSectionHandler, Mst.Dexter"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <clear/>

    <!-- Bulk mode aktifleştirme, eğer 1 ise bulk mod aktiftir, değilse aktif değildir. -->
    <add key="isBulkMode" value="1"/>

    <!-- crudMode; 1: Insert, 2: Update, 3: Delete için.-->
    <add key="crudMode" value="1"/>

    <!-- dbConnection.CrudOp(Entity t) şeklinde olması için 1 değilse başka bişey yazılmalıdır. -->
    <!-- <add key="useExtension" value="0"/> -->

    <!-- Tüm kayıtları getirmesi için 1 olarak işaretlenmelidir. -->
    <add key="getAllRecords" value="1"/>

    <!-- entityId : Update ve delete işlemi için verilen Id dir. -->
    <add key="entityId" value="1"/>

    <!--<add key="connTypeName" value="sql" />-->
    <!--<add key="connTypeName" value="oracle_managed" />-->
    <!--<add key="connTypeName" value="npgsql" />-->
    <!--<add key="connTypeName" value="mysql" />-->
    <add key="connTypeName" value="sqlite"/>
    <add key="connStringName" value="connStringSQLite"/>
    <!--<add key="connStringName" value="connStringPgSql" />-->

    <add key="connStringSql" value="data source=.\SQLEXPRESS;initial catalog=FileStoreDbTest;integrated security=True;"/>
    <add key="connStringMySql" value="Server=127.0.0.1;database=sakila;uid=root;pwd=my123123;"/>
    <add key="connStringPgSql" value="server=127.0.0.1;Database=postgres;user id=postgres;password=pg123;"/>
    <add key="connStringOraMngd" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));User Id=HR;Password=;"/>
    <!--<add key="connStringSQLite" value="Data Source=C:\Depo\dev_notes\SvnProjects\personalfile_sqlite_file;Version=3;"/>-->
    <add key="connStringSQLite" value="Data Source=..\..\..\DataSources\Sqlite\personalfile_sqlite_file_base_1.db;Version=3;"/>

    <add key="insertKeyCount" value="1000"/>
  </appSettings>

  <dexter.configs writeEventLog="1" writeErrorLog="1">
    <dexter>
      <add name="sql" typename="System.Data.SqlClient.SqlConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="Sql"/>

      <add name="oledb" typename="System.Data.OleDb.OleDbConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="OleDb"/>

      <add name="odbc" typename="System.Data.Odbc.OdbcConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="Odbc"/>

      <!--<add name="mysql" typename="MySql.Data.MySqlClient.MySqlConnection" namespace="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" dialect="MySql"/>-->

      <!--<add name="npgsql" typename="Npgsql.NpgsqlConnection" namespace="Npgsql, Version=2.0.14.3, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" dialect="Npgsql"/>-->

      <!--<add name="npgsql" 
           typename="Npgsql.NpgsqlConnection" 
           namespace="Npgsql, Version=3.2.6.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" 
           dialect="Npgsql" />-->

      <add name="pgsql" typename="Devart.Data.PostgreSql.PgSqlConnection" namespace="Devart.Data.PostgreSql, Version=7.10.1134.0, Culture=neutral, PublicKeyToken=09af7300eec23701" dialect="PgSql"/>

      <add name="sqlite" typename="Devart.Data.SQLite.SQLiteConnection" namespace="Devart.Data.SQLite, Version=5.11.1278.0, Culture=neutral, PublicKeyToken=09af7300eec23701" dialect="SQLite"/>

      <!--<add name="oracle_net-4_112_3"
           typename="Oracle.DataAccess.Client.OracleConnection"
           namespace="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
           dialect="Oracle" />-->

      <!--<add name="mysql-6_8_3"
           typename="MySql.Data.MySqlClient.MySqlConnection"
           namespace="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
           dialect="MySql" />-->

      <!--<add name="oracle_managed"
           typename="Oracle.ManagedDataAccess.Client.OracleConnection"
           namespace="Oracle.ManagedDataAccess, Version=4.112.3.50, Culture=neutral, PublicKeyToken=89b483f429c47342"
           dialect="Oracle" />-->

      <!--<add name="oracle" typename="Oracle.ManagedDataAccess.Client.OracleConnection" namespace="Oracle.ManagedDataAccess, Version=4.112.3.50, Culture=neutral, PublicKeyToken=89b483f429c47342" dialect="Oracle"/>-->
      <!--
      <add name="npgsql"
      typename="Npgsql.NpgsqlConnection"
      namespace="Npgsql, Version=2.1.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"
      dialect="Npgsql" />
      -->

      <!--
      <add
      name="mysql"
      typename="MySql.Data.MySqlClient.MySqlConnection"
      namespace="MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
      dialect="MySql" />
      -->
      <add name="ase" 
           typename="Sybase.Data.AseClient.AseConnection" 
           namespace="Sybase.AdoNet45.AseClient, Version=16.0.2.2, Culture=neutral, PublicKeyToken=95d94fac46c88e1e" 
           dialect="Ase"/>
    </dexter>
  </dexter.configs>
</configuration>
